<div class="message-bubble <%= message.sender_id == current_user.id ? "sent" : "received" %>">
  <p class="message-content"><%= message.content %></p>
  <%= render "messages/link_preview", message: message %>
  <span class="message-time dim"><%= message.created_at.strftime("%H:%M") %></span>
</div>
