[Unit]
Description=fl4re Rails App
After=network.target docker.service
Requires=docker.service

[Service]
Type=simple
User=henrik
WorkingDirectory=/home/henrik/microblog
EnvironmentFile=/home/henrik/microblog/.env
Environment="PATH=/home/henrik/.rbenv/shims:/home/henrik/.rbenv/bin:/usr/local/bin:/usr/bin:/bin"
Environment="RBENV_ROOT=/home/henrik/.rbenv"
ExecStart=/home/henrik/microblog/bin/start
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal
SyslogIdentifier=fl4re

[Install]
WantedBy=multi-user.target
